.resultPage{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,380px);
    margin-top: 80px;
}

.resultPage .chart1{
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
}

.resultPage .chart2{
    max-height: 300px !important;
    max-width: 300px !important;
    margin-left: 50px;
    margin-bottom: 40px;
    
}
.resultPage .chart__text{
    margin-left: 20px;
}

.resultPage .chart__judge{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2 , 100px);
}